################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CW3_Threading/v16/Browse.VC.db-shm
/.vs/CW3_Threading/v16/Browse.VC.db-wal
/.vs/CW3_Threading/v16/Browse.VC.opendb
